#inspecting a data frame

In [ ]:
print(homeless.head())

In [ ]:
print(homeless.info())

In [ ]:
print(homeless.shape())

In [ ]:
print(homeless.describe())

import pandas as pd

In [ ]:
print(homeless.values())

In [ ]:
print(homeless.columns)

In [ ]:
print(homeless.index)

#subsetting in pd.py

homelessness_ind = homelessness.sort_values('individuals')
print(homelessness_ind.head())

#sort homelessnes by decending order
homelessness_fam = homelessness.sort_values('family_members', ascending = False)
print(homelessness_fam.head())

#homelessness by region then family
homelessness_reg_fam = homelessness.sort_values(["region", "family_members"], ascending = [True, False])
print(homelessness_reg_fam.head())

In [ ]:
individuals = homelessness(['individuals'])
print(individuals.hesd())

In [ ]:
ind_state = homelessness[['individuals', 'state']]
print(ind_state())

ind_gt_10K = homelessness[homelessness['individuals']>10000]
print(ind_gt_10K)

mountain_reg = homelessness[homlessness['region']= 'mountain']
print(mountain_reg)

fam_lt_1k_pac = homelessness[(homelessness['family_members']<1000)&(homelessness['region'] == 'Pacific')]
print(fam_lt_1k_pac)

south_mid_atlantic = homelessness[(homlessness['region'] == South_atlatic) | (homlessness['region'] == 'Mid_atlantic')]
print(south_mid_atlantic)

In [ ]:
canu = ["california", "arizona", "nevada", "utah" ]
mojave_homelessness = homelessness[homelessness['state'].isin(canu)]
print(mojave_homelessness)

In [ ]:
#adding new column

In [ ]:
homelessness["total"] = homelessness['individuals'] + homelessness['family_members']

In [ ]:
homelessness["p_individuals"] = homelessness['individuals'] / homelessness['total']

In [ ]:
homelessness["indiv_per_10k"] = 10000 * homelessness['individuals'] / homelessness['state_pop']

In [ ]:
high_homelessness = homelessness[homelessness['indiv_per_10k'] > 20]

In [ ]:
high_homelessness_srt = high_homelessness.sort_values('indiv_per_10k', ascending = False)

In [ ]:
result = high_homelessness_srt[['state', 'indiv_per_10k']]

In [ ]:
#summary atatistics

In [ ]:
print(sales['weekly_sales'].mean())

In [ ]:
print(sales['date'].max())

In [ ]:
def iqr(column):
    return column.quantile(0.75) - column.quantile(0.25)

In [ ]:
print(sales['temperature_c'].agg(iqr))

In [ ]:
def iqr(column):
    return column.quantile(0.75) - column.quantile(0.25)

In [ ]:
print(sales[["temperature_c", "fuel_price_usd_per_l", "unemployment"]].agg(iqr))

In [ ]:
print(sales[["temperature_c", "fuel_price_usd_per_l", "unemployment"]].agg([iqr, np.median]))

In [ ]:
#counting

In [ ]:
store_types = sales.drop_duplicates(['store', 'type'])
print(store_types.head())

In [ ]:
store_depts = sales.drop_duplicates(['store', 'department'])
print(store_depts.head())

In [ ]:
holiday_dates = sales[sales["is_holiday"]].drop_duplicates("date")

In [ ]:
store_props = store_types['type'].value_counts(normalize = True)
print(store_props)

In [ ]:
dept_counts_sorted = store_depts['department'].value_counts(sort = True)
print(dept_counts_sorted)

In [ ]:
dept_props_sorted = store_depts['department'].value_counts(sort=True, normalize=True)
print(dept_props_sorted)

In [ ]:
#Group statistics

In [ ]:
sales_all = sales["weekly_sales"].sum()

In [ ]:
sales_A = sales[sales["type"] == "A"]["weekly_sales"].sum()

In [ ]:
sales_by_type = sales.groupby("type")["weekly_sales"].sum()

In [ ]:
sales_by_type_is_holiday = sales.groupby(["type", "is_holiday"])["weekly_sales"].sum()
print(sales_by_type_is_holiday)

In [ ]:
sales_stats = sales_stats = sales.groupby("type")["weekly_sales"].agg([np.min, np.max, np.mean, np.median])

In [ ]:
unemp_fuel_stats = sales.groupby("type")[["unemployment", "fuel_price_usd_per_l"]].agg([np.min, np.max, np.mean, np.median])

In [ ]:
#Pivot tables

In [27]:
import pandas as pd
import numpy as np
import random as rand
from random import randint

In [40]:
df = ({
    'Events' : ['ABC','DEF','GHI','JKL','ABC','DEF','GHI','JKL'],
    'Number1' : ['xx','xx',1,'xx','xx','xx',2,'xx'],
    'Number2' : [1,1,'xx',1,'xx',2,'xx',2]})
df = pd.DataFrame(data = df)

In [41]:
df

  Events Number1 Number2
0    ABC      xx       1
1    DEF      xx       1
2    GHI       1      xx
3    JKL      xx       1
4    ABC      xx      xx
5    DEF      xx       2
6    GHI       2      xx
7    JKL      xx       2

In [42]:
df_pv = df.pivot_table(values = 'Number1', index = 'Number2', columns = 'Events').mean()

C:\Users\PureLight\AppData\Local\Temp\ipykernel_8132\1586254318.py:1: FutureWarning: Dropping invalid columns in DataFrameGroupBy.mean is deprecated. In a future version, a TypeError will be raised. Before calling .mean, select only columns which should be valid for the function.
  df_pv = df.pivot_table(values = 'Number1', index = 'Number2', columns = 'Events').mean()

In [39]:
df_pv

Series([], dtype: float64)

In [35]:
#setting and removing indexes

In [ ]:
temperatures_ind = temperatures.set_index('city')

In [ ]:
print(temperatures_ind.reset_index())

In [ ]:
print(temperatures_ind.reset_index(drop = True))

In [ ]:
cities = ["Moscow", "Saint Petersburg"]

In [ ]:
print(temperatures[temperatures["city"].isin(cities)])

In [ ]:
print(temperatures_ind.loc[cities])

In [ ]:
print(df_pv,)

In [ ]:
print(temperatures_ind.sort_index(level="city"))

In [ ]:
print(temperatures_ind.sort_index(level=["country", "city"], ascending = [True, False]))

In [ ]:
temperatures_bool = temperatures[(temperatures["date"] >= "2010-01-01") & (temperatures["date"] <= "2011-12-31")]

In [ ]:
temperatures_ind = temperatures.set_index("date").sort_index()

In [ ]:
print(temperatures_ind.loc["2010":"2011"])

In [ ]:
print(temperatures_ind.loc["2010-08":"2011-02"])

In [ ]:
temperatures["year"] = temperatures["date"].dt.year

In [ ]:
temp_by_country_city_vs_year = temperatures.pivot_table("avg_temp_c", index = ["country", "city"], columns = "year")

In [ ]:
print(mean_temp_by_year[mean_temp_by_year == mean_temp_by_year.max()])

In [ ]:
mean_temp_by_city = temp_by_country_city_vs_year.mean(axis="columns")

In [ ]:
print(mean_temp_by_city[mean_temp_by_city == mean_temp_by_city.min()])